
.main{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    align-items: center; 
}

.main>div{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    width: 100%;
    align-items: center;
}

.modalContainer{
    width: 100%;
    display: flex;
    /* border: 1px solid #000; */
}

.btnn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid #000; */
}


.main>div>label{
    width:25%;
    font-weight: 600;
}

.main>div>input{
    height: 40px;
    width:50%
}

.btnDivs {
    display: flex;
    justify-content: space-evenly !important;
    width: 80% !important;
    align-items: center;
    /* border: 1px solid red !important; */
}

.btn{
    background-color: blue !important;
    color: white !important;
    margin-top: 20px !important;
}

.btnClose{
    background-color: red !important;
    color: white !important;
    margin-top: 20px !important;
    width: 30%;
}


.selector{
    width:50%;    
    height: 40px;
}

.headerDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: 1px solid gray;
}